<div class="col-sm-12">
    <div class="tile">
        <h2 class="tile-title">
            <a href="adfasdf">Information</a>
        </h2>
        <div class="p-10">           
            <div class="row row-padded">
                <div class="col-sm-2">
                    <span class="span-sm-align">Status:</span>
                </div>
                <div class="col-sm-10">
                    <input class="form-control input-sm" data-ng-model="vm.person.personId" type="text" disabled="disabled">
                </div>
            </div>
            <div class="row row-padded">
                <div class="col-sm-2">
                    <span class="span-sm-align">Breadwinner:</span>
                </div>
                <div class="col-sm-10">
                    <input class="form-control input-sm" data-ng-model="vm.person.personId" type="text" disabled="disabled">
                </div>
            </div>
            <div class="row row-padded">
                <div class="col-sm-2">
                    <span class="span-sm-align">Sponser:</span>
                </div>
                <div class="col-sm-10">
                    <input class="form-control input-sm" data-ng-model="vm.person.personId" type="text" disabled="disabled">
                </div>
            </div>
        </div>
    </div>
</div>
